/*
** Bezier curves for transitions
**
** From http://matthewlein.com/ceaser/
** I've just added the ones I prefer, there are more.
*/
$bez_easeInBack:    cubic-bezier(0.600, -0.280, 0.735, 0.045);
$bez_easeOutQuart:  cubic-bezier(0.165, 0.840, 0.440, 1.000);
$bez_easeOutCirc:   cubic-bezier(0.075, 0.820, 0.165, 1.000);
$bez_easeOutBack:   cubic-bezier(0.175, 0.885, 0.320, 1.275);
$bez_easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$bez_easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$bez_easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);

/*
** Uses ::before pseudo-element to create a color overlay
*/
%color_overlay {
	position: relative;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
@mixin color_overlay($color) {
	@extend %color_overlay;

	&:before {
		background-color: $color;
	}
}

/*
** Browser prefix support for styling input placeholders
** If this makes its way into Compass, we can ditch it here
*/
@mixin placeholder {
	::-webkit-input-placeholder {@content}
	::-moz-placeholder {@content}
	:-ms-input-placeholder {@content}
}

/*
** Kiiiinda emulates associative arrays
** Got it from here: http://hugogiraudel.com/2013/08/12/sass-functions/
** Pretty sure it's voodoo, so don't touch it
*/
@function match($haystack, $needle) {
  @each $item in $haystack {
    $index: index($item, $needle);
    @if $index {
      $return: if($index == 1, 2, $index);
      @return nth($item, $return);
    }
  }
  @return false;
}

/*
** This only works with lists nested one level deep.
** It could probably be more future proof.
** I wish Chris was still around.. :[
*/
@function index_from_key($haystack, $needle) {
	@each $item in $haystack {
		@if nth($item, 1) == $needle {
			@return index($haystack, $item);
		}
	}
	@return false;
}
