/*
** Partials
*/
@mixin clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
%clearfix {
	@include clearfix;
}
@mixin pseudo-triangle {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border: solid transparent;
}
%pseudo-triangle {
	@include pseudo-triangle;
}
@mixin bg-cover {
	background-size: cover;
	background-position: 50%;
}
%bg-cover {
	@include bg-cover;
}
.bg-cover {
	@extend %bg-cover;
}

/*
** Tags
*/
*, *:before, *:after {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background-repeat: no-repeat;
	box-sizing: border-box;
	vertical-align: baseline;
}
html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
header, footer {
	cursor: default;

	a & {
		cursor: inherit;
	}
}
ul, ol {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	vertical-align: middle;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
a, button, input, select, textarea, label, summary {
  touch-action: manipulation;
}

/*
** Forms
*/
input {
	overflow: visible;
}
input[type=submit], input[type=button], button[type=submit], input[type=search] {
	-webkit-appearance: none;

	&::-moz-focus-inner {
		padding: 0;
		border: none;
	}
}
input[type=submit], input[type=button], button[type=submit] {
	cursor: pointer;
}
textarea {
	resize: vertical;
}

/*
** CSS Tables
*/
@mixin table {
	display: table;
	width: 100%;
}
%table {
	@include table;
}
.table {
	@extend %table;
}
@mixin trow {
	display: table-row;
}
%trow {
	@include trow;
}
.trow {
	@extend %trow;
}
@mixin tcell {
	display: table-cell;
	vertical-align: middle;
}
%tcell {
	@include tcell;
}
.tcell {
	@extend %tcell;
}
.fillercell {
	width: 100%;
}

/*
** Classes
*/
.floatleft, .alignleft {
	float: left;
	margin: .25em 5% 1em 0;
}
.floatright, .alignright {
	float: right;
	margin: .25em 0 1em 5%;
}
.aligncenter {
	margin-left: auto;
	margin-right: auto;
}
.screen-reader-text {
	display: none;
}
.ta-c {
	text-align: center;
}
.ta-r {
	text-align: right;
}
@mixin to-e {
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}
%to-e {
	@include to-e;
}
.table {
	@extend %to-e;
}

/*
** Print
*/
@media screen {
	.show-on-print {
		display: none;
	}
}
@media print {
	* {
		background: transparent !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	.hide-on-print {
		display: none;
	}
	.break-page {
		page-break-before: always;
	}
	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}
	h1, h2, h3, h4, h5, h6, p, ul, ol {
		orphans: 3;
		widows: 3;
	}
	img {
		page-break-inside: avoid;
	}
}

/*
** Media Queries
*/
@media (max-width: 900px) {
	a {
		word-wrap: break-word;
	}
}
