/*
** Override _settings and _typography
*/
a {
	color: #111;
	text-decoration: underline;
}
a:hover {
	color: #000;
}
body, input, textarea, select {
	color: #333;
}

/*
** Layout and styles
*/
body {padding: 3%;}
.box {
	border: solid 1px #aaa;
	padding: .5em;
	margin: .3em;

	> :first-child {margin-top: 0; padding-top: 0;}
}
